interactions:
- request:
    body: '{"query": "\nquery GetEventInfo($owner: String!, $repo: String!, $configFileExpression:
      String!, $PRNumber: Int!) {\n  repository(owner: $owner, name: $repo) {\n    mergeCommitAllowed\n    rebaseMergeAllowed\n    squashMergeAllowed\n    pullRequest(number:
      $PRNumber) {\n      id\n      mergeStateStatus\n      state\n      commits(last:
      1) {\n        nodes {\n          commit {\n            oid\n          }\n        }\n      }\n      labels(first:
      100) {\n        nodes {\n          name\n        }\n        totalCount\n      }\n    }\n    object(expression:
      $configFileExpression) {\n      ... on Blob {\n        text\n      }\n    }\n  }\n}\n\n",
      "variables": {"owner": "chdsbd", "repo": "test_repo", "configFileExpression":
      "master:__invalid__config__path__.kodiak.yml", "PRNumber": 1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"mergeCommitAllowed":true,"rebaseMergeAllowed":true,"squashMergeAllowed":true,"pullRequest":{"id":"MDExOlB1bGxSZXF1ZXN0Mjc0MjI2MDI0","mergeStateStatus":"UNKNOWN","state":"MERGED","commits":{"nodes":[{"commit":{"oid":"1d2eef16a50d38959ddc9c7a1d6997c594474d1a"}}]},"labels":{"nodes":[],"totalCount":0}},"object":null}}}'
    headers:
    - - server
      - GitHub.com
    - - date
      - Thu, 20 May 2010 12:30:20 GMT
    - - content-type
      - application/json; charset=utf-8
    - - transfer-encoding
      - chunked
    - - status
      - 200 OK
    - - cache-control
      - no-cache
    - - x-oauth-scopes
      - repo
    - - x-accepted-oauth-scopes
      - repo
    - - x-github-media-type
      - github.antiope-preview; format=json, github.merge-info-preview; format=json
    - - access-control-expose-headers
      - ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining,
        X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval,
        X-GitHub-Media-Type
    - - access-control-allow-origin
      - '*'
    - - strict-transport-security
      - max-age=31536000; includeSubdomains; preload
    - - x-frame-options
      - deny
    - - x-content-type-options
      - nosniff
    - - x-xss-protection
      - 1; mode=block
    - - referrer-policy
      - origin-when-cross-origin, strict-origin-when-cross-origin
    - - content-security-policy
      - default-src 'none'
    status:
      code: 200
      message: OK
    url: https://api.github.com/graphql
version: 1
