interactions:
- request:
    body: '{"query": "\nquery ($owner: String!, $repo: String!) {\n  repository(owner:
      $owner, name: $repo) {\n    defaultBranchRef {\n      name\n    }\n  }\n}\n",
      "variables": {"owner": "django", "repo": "django"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"defaultBranchRef":{"name":"master"}}}}'
    headers:
    - - server
      - GitHub.com
    - - date
      - Thu, 20 May 2010 12:30:20 GMT
    - - content-type
      - application/json; charset=utf-8
    - - transfer-encoding
      - chunked
    - - status
      - 200 OK
    - - cache-control
      - no-cache
    - - x-oauth-scopes
      - repo
    - - x-accepted-oauth-scopes
      - repo
    - - x-github-media-type
      - github.antiope-preview; format=json, github.merge-info-preview; format=json
    - - access-control-expose-headers
      - ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining,
        X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval,
        X-GitHub-Media-Type
    - - access-control-allow-origin
      - '*'
    - - strict-transport-security
      - max-age=31536000; includeSubdomains; preload
    - - x-frame-options
      - deny
    - - x-content-type-options
      - nosniff
    - - x-xss-protection
      - 1; mode=block
    - - referrer-policy
      - origin-when-cross-origin, strict-origin-when-cross-origin
    - - content-security-policy
      - default-src 'none'
    status:
      code: 200
      message: OK
    url: https://api.github.com/graphql
- request:
    body: '{"query": "\nquery ($owner: String!, $repo: String!) {\n  repository(owner:
      $owner, name: $repo) {\n    defaultBranchRef {\n      name\n    }\n  }\n}\n",
      "variables": {"owner": "about", "repo": "about"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":3,"column":3}],"message":"Could
        not resolve to a User with the username ''about''."}]}'
    headers:
    - - server
      - GitHub.com
    - - date
      - Thu, 20 May 2010 12:30:20 GMT
    - - content-type
      - application/json; charset=utf-8
    - - transfer-encoding
      - chunked
    - - status
      - 200 OK
    - - cache-control
      - no-cache
    - - x-oauth-scopes
      - repo
    - - x-accepted-oauth-scopes
      - repo
    - - x-github-media-type
      - github.antiope-preview; format=json, github.merge-info-preview; format=json
    - - access-control-expose-headers
      - ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining,
        X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval,
        X-GitHub-Media-Type
    - - access-control-allow-origin
      - '*'
    - - strict-transport-security
      - max-age=31536000; includeSubdomains; preload
    - - x-frame-options
      - deny
    - - x-content-type-options
      - nosniff
    - - x-xss-protection
      - 1; mode=block
    - - referrer-policy
      - origin-when-cross-origin, strict-origin-when-cross-origin
    - - content-security-policy
      - default-src 'none'
    status:
      code: 200
      message: OK
    url: https://api.github.com/graphql
version: 1
