version: 2

jobs:
  bot_test:
    docker:
      - image: python:3.7
    steps:
      - checkout
      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - bot-v1-{{ .Branch }}-{{ checksum "bot/poetry.lock" }}
            - bot-v1-{{ .Branch }}-
            - bot-v1-
      - run:
          name: install dependencies
          working_directory: bot
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry install
      - save_cache:
          paths:
            - ./bot/.mypy_cache
            - /root/.cache/
          key: bot-v1-{{ .Branch }}-{{ checksum "bot/poetry.lock" }}
      - run:
          name: run tests
          working_directory: bot
          command: ./s/test

  bot_lint:
    docker:
      - image: python:3.7
    steps:
      - checkout
      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - bot-v1-{{ .Branch }}-{{ checksum "bot/poetry.lock" }}
            - bot-v1-{{ .Branch }}-
            - bot-v1-
      - run:
          name: install dependencies
          working_directory: bot
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry install
      - save_cache:
          paths:
            - ./bot/.mypy_cache
            - /root/.cache/
          key: bot-v1-{{ .Branch }}-{{ checksum "bot/poetry.lock" }}
      - run:
          name: run lints
          working_directory: bot
          command: ./s/lint

  # https://circleci.com/docs/2.0/building-docker-images/
  bot_build_container:
    docker:
      - image: docker:18.05.0-ce
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build container
          working_directory: bot
          command: ./s/build

  docs_typecheck:
    docker:
      - image: circleci/node:12.4.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
            - docs-site-v1-{{ .Branch }}-
            - docs-site-v1-
      - run:
          name: install dependencies
          working_directory: docs
          command: |
            yarn install --frozen-lockfile --non-interactive
      - save_cache:
          paths:
            - ./docs/node_modules
          key: docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
      - run:
          name: run typechecker
          working_directory: docs
          command: |
            yarn typecheck

  docs_fmt:
    docker:
      - image: circleci/node:12.4.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
            - docs-site-v1-{{ .Branch }}-
            - docs-site-v1-
      - run:
          name: install dependencies
          working_directory: docs
          command: yarn install --frozen-lockfile --non-interactive
      - save_cache:
          paths:
            - ./docs/node_modules
          key: docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
      - run:
          name: run fmt
          working_directory: docs
          command: yarn fmt-ci

  docs_build:
    docker:
      - image: circleci/node:12.4.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
            - docs-site-v1-{{ .Branch }}-
            - docs-site-v1-
      - run:
          name: install dependencies
          working_directory: docs
          command: yarn install --frozen-lockfile --non-interactive
      - save_cache:
          paths:
            - ./docs/node_modules
          key: docs-site-v1-{{ .Branch }}-{{ checksum "docs/yarn.lock" }}
      - run:
          name: build
          working_directory: docs
          command: yarn build

  web_api_test:
    docker:
      - image: python:3.7
      - image: circleci/postgres:12-ram
    steps:
      - checkout
      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - web_api-v1-{{ .Branch }}-{{ checksum "web_api/poetry.lock" }}
            - web_api-v1-{{ .Branch }}-
            - web_api-v1-
      - run:
          name: install dependencies
          working_directory: web_api
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry install
      - save_cache:
          paths:
            - ./web_api/.mypy_cache
            - /root/.cache/
          key: web_api-v1-{{ .Branch }}-{{ checksum "web_api/poetry.lock" }}
      - run:
          name: run tests
          working_directory: web_api
          command: ./s/test

  web_api_lint:
    docker:
      - image: python:3.7
    steps:
      - checkout
      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - web_api-v1-{{ .Branch }}-{{ checksum "web_api/poetry.lock" }}
            - web_api-v1-{{ .Branch }}-
            - web_api-v1-
      - run:
          name: install dependencies
          working_directory: web_api
          command: |
            # Use our new PATH so we can call poetry from bash
            echo 'export PATH="$PATH":"$HOME"/.local/bin' >> $BASH_ENV
            source $BASH_ENV
            command -v poetry || python -m pip install --user poetry==0.12.12
            poetry install
      - save_cache:
          paths:
            - ./web_api/.mypy_cache
            - /root/.cache/
          key: web_api-v1-{{ .Branch }}-{{ checksum "web_api/poetry.lock" }}
      - run:
          name: run lints
          working_directory: web_api
          command: ./s/lint

  # https://circleci.com/docs/2.0/building-docker-images/
  web_api_build_container:
    docker:
      - image: docker:18.05.0-ce
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build container
          working_directory: web_api
          command: ./s/build

workflows:
  version: 2
  bot:
    jobs:
      - bot_test
      - bot_lint
      - bot_build_container:
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
  docs:
    jobs:
      - docs_typecheck
      - docs_fmt
      - docs_build
  web_api:
    jobs:
      - web_api_test
      - web_api_lint
      - web_api_build_container:
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/
